body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #d4f0c0;
  margin: 0;
  padding: 0px;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3 {
  color: #333;
}

button {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #F5BB27;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover:not(:disabled) {
  background-color: #F57311;
}
